*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: auto;
}
.header{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url("./images/Banner\ Image.png");
    height:600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;

}
.banner-title{
    align-items: center;
}
.banner-title h3{
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 200px;
    
}
.banner-title h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
   
}
.main{
    width: 100%;
   /*background-color:#ffe5e5;*/

 
  
}
.category-content{
    margin: auto;
    align-items: center;
    padding:45px 0px;
    margin: auto;
}
.category-content h1{
    font-size: 88px;
    text-align: center;
    font-weight: 800;
    color: #FF0000;
   
}
.category-content p{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 45px;
    color: #FF0000;
    
}
.category-content h3{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
    color: #070211;
    

}
.newyear{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    margin:auto;
}
/**midnight-selection**/
.midnight-selection{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url("./images/Vectorrr.png");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
 .mid-content {
    padding-top: 100px;
    padding-left: 125px;
 }
 .mid-content h1{
    font-size: 64px;
    font-weight: 800px;
    color: #FFFFFF;
    text-align: left;
    line-height: 95px;
 }
 .mid-content p{
    width: 697px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
    line-height: 36px;
    padding-bottom: 30px;
 }
 .mid-content a{
 
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
    color: #FFFFFF;
    text-decoration: none;



 }
/**midnight-selection**/
/**park-selection**/
.park-section{
    padding: 100px 0px;
    margin: auto;
}
.park-content{
    display: block;
    justify-content: center;
    align-items: center;
   padding: 100px 0px;
}
.park-content p{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #070211;

}
.park-content span{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
    color: #FF0000;

}
.park-content button{
    display: flex;
    justify-content: center;
    width: 167px;
    height: 56px;
    background-color: #FF0000;
    color: #FFFFFF;
    align-items: center;
    margin: 10px auto;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
/**Offer section**/

.offer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}
.offer-1 span{
    font-size: 24px;
    font-weight: 400px;
    color: #FF0000;
    text-align: left;
}
.offer-1 h3{
    font-size: 48px;
    font-weight: 800px;
    color: #070211;
    padding: 10px 0px;
    text-align: left;
}
.offer-1 p{
    width: 393px;
    font-size: 20px;
    color: #070211;
    text-align: left;

}
.offer-2 {

}
.Ellipse{
    width: 364px;
    height: 364px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #FF0000;
    padding: 15px;
}

.offer-3{
    padding-right: 0;

}
.offer-3 h3{
    font-size: 48px;
    text-align: left;
    font-weight: bold;
    color: #FF0000;
    padding-bottom: 15px;

}
.offer-3 p{
    width: 276px;
    font-size: 20px;
    color: #070211;
    padding-bottom: 30px;
}
.group70{
    width: 140px;
    height: 140px;

}
/**holiday-section**/
.holiday-section{
    padding: 45px 0px;
    align-items: center;
    /*background-image: url("images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom center;*/
    
    
}
.holiday-content{
    align-items: center;
    margin: auto;
}
.holiday-content span{
   display: block;
    color: #070211;
    font-size:24px;
    font-weight: 400;
    text-align: center;
 
}
.holiday-content h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 72px;
    color: #FF0000;
    font-weight: bold;
    padding-top: 15px;

}
.holiday-content  h1 .span{
    text-align: center;
    font-size: 72px;
    color: #070211;
    font-weight: bold;

}
.holiday-content p{
    width: 1068px;
    margin:0px auto;
    text-align: center;
    color: #070211;
    font-size: 20px;
    font-weight: 400;
    padding-top: 15px;
    padding: 0px 100px;
    line-height: 36px;
    
}
.box-content{
  

}
.holiday-box{

    margin-top: 45px;
    position: relative;
  
   
}
.holibox{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px ;

}
.holiday-boxleft{
    position: relative;
    
}
.holiday-boxleft img{
    position: absolute;
    left: 0;
    top: -125px;
    width: 674px;
    height: 577px;
 
   
}
.holidaybox-right{
    position: relative;
    padding: 0;
    margin: 0;
    

}
.holidaybox-right img{   
    width: 429px;
    height: 440px;
    margin-top:55px ;
   
    
    

}
.discount-photo{
    position: absolute;
    width:220px ;
    height: 200px;
    border-radius: 50%;
    left: -50%;
    
}
.backcolor{
    padding: 0;
    margin: 0;
    height: 229px;
    background-color: #FF0000;
    border-radius: 10px;
    z-index: 100;
   
}
/**card-section start**/
.card-section{
    padding: 45px 0px;
  

}
.card-content span{
    font-size: 24px;
    text-align: left;
    color: #FF0000;
    font-weight: 400;
   

}
.card-content h1{
    font-size: 48px;
    text-align: left;
    color: #070211;
    font-weight: bold;
    padding-top: 15px;

}
.card-content p{
    width: 896px;
    font-size: 20px;
    text-align: left;
    color: #070211;
    padding-top: 25px;

}
.card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 45px;
}
.box img{
    width: 424px;
    height: 450px;
    margin-bottom: 20px;
}
/**card-section end**/
/**section mail-section start code**/
.main-section{
    
    align-items: center;
    margin-top: 45px 0px;
}
.maiil-content{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #ffe5e5;
}
.mail-photo{
    display:flex;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: auto;
}
.maiil-content h3{
    font-size: 48px;
    text-align: center;
    padding-top: 25px 0px;
    color: #070211;
    font-weight: bold;
}
.maiil-content p{
    width: 896px;
    font-size: 20px;
    color: #070211;
    text-align: center;
    padding-bottom:25px ;
    margin: auto;
}
.form-section{
    display: flex;
    justify-content:center;
    align-items: center;
}
.maiil-content form{
   
    padding: 25px 0px 75px 0px;
}
.maiil-content  form input{
    width: 450px;
    height: 72px;
    margin: auto;
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
    color: #070211;
    border-radius: 15px;
    border: 0;
}
.maiil-content form button{
    width: 210px;
    height: 72px;
    border: 0;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 15px;
    border: 0;
}

/** section mail-section end***/
.footer{
    background-color: #070211;
    padding:100px 0px;
    margin-top: 75px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.footer-left p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400px;
    line-height: 36px;

}
.footer-first-list{
    display: block;
    align-items: center;
    margin-right: 200px;

}
.footer-first-list li{
    list-style: none;
    margin-top: 5px;
 

}
.footer-first-list li img{
    margin-top: 5px;
    width: 24px;
    height: 24px;
   
}
.footer-first-list li a{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 15px;
    text-decoration: none;
}
.icon-section{
    padding: 45px 0px;
}
.icon-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-section ul li{
    margin: 0px 10px;
}
.icon-section ul li img{
    width: 64px;
    height: 64px;
}
hr{
    background: #FF0000;
}
.copy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
.copy-right small{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}